<% provide(:title, "| Home") %>
<div class="jumbotron">
  <h1>URL SHORTENER <small> Short your links easy</small></h1>
  <p>This is the landing page of a URL Shortener prototype realized as final project for
  the Degree of Computer Engineering of the  <a href="http://www.ulpgc.es/", target=blank>University of Las Palmas de Gran Canaria.</p>
  <%= link_to image_tag("logo.png", alt: "ULPGC logo", id: 'img'),'http://www.eii.ulpgc.es/', target: 'blank'%> 
  <%= link_to "Start shorting now!", new_short_path, class: "btn btn-lg btn-primary", id: 'cent' %>
</div>