<% provide(:title, "| Home") %>

<div class="container">
  
  <%= render 'shared/show_flash' %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header center">
        <h1>Shorten your links easily <small> Short and see an URL here</small></h1>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-md-10 col-md-offset-1 center">
      <%= render 'shorts/form' %>
    </div>
  </div>    
  
  <% if flash.notice == 'Short was successfully created.' %>
    <div class="row" id="margen">
      <div class="col-md-10 col-md-offset-1 center">
        <%= render 'shorts/home_form' %>
      </div>
    </div>
  <% end %>

<% if current_user && !current_user.admin? %>
    <div class="page-header center">
    <h1>Create your Advertisement <small>Create an advertisement here</small></h1>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center">
      <%= render 'advertisements/form', advertisement: @advertisement %>
    </div>
  </div>
    
<% end %>

</div>