<% provide(:title, "| Home") %>

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header center">
        <h1>URL SHORTENER <small> Shorten your links easily</small></h1>
      </div>
    </div>
  </div>
  
  <div class="panel-heading text-center">
    <h3>This is the landing page of an URL Shortener prototype realized as final project for
        the Degree of Computer Engineering of the  <a href="http://www.ulpgc.es/", target=blank>
        University of Las Palmas de Gran Canaria.
    </h3>
    <%= link_to image_tag("logo.png", alt: "ULPGC logo", id: 'img'),'http://www.eii.ulpgc.es/', target: 'blank'%> 
  </div>

  <% if !flash.empty? %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center">
        <div class="alert alert-success" role="alert">
          <p id="notice"><%= flash[:notice] %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">  
    <div class="col-md-10 col-md-offset-1 center">
      <%= render 'shorts/form' %>
    </div>
  </div>    
  
  <% if flash.notice == 'Short was successfully created.' %>
    <div class="row" id="margen">
      <div class="col-md-10 col-md-offset-1 center">
        <%= render 'shorts/home_form' %>
      </div>
    </div>
  <% end %>

</div>