<% provide(:title, "| Redirecting") %>

<div class="container">
  
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header center">
        <h1>Redirecting <small> You will be redirected to the original URL</small></h1>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-md-12 center">
      <h2><%= @advertisement.title %></h2>
      <%= image_tag(@advertisement.picture, class: 'img-responsive center-block', alt: "anuncio") %>
    </div>
  </div>    
  
</div>