<% provide(:title, "| Redirecting") %>
<body onload=timedCount()>
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header center">
        <h1>Redirecting <small> You will skip the advertisement in: <span id="seconds">my_input</span> seconds.</small></h1>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="col-md-12 center">
      <h2><%= @advertisement2.title %></h2>
      <%= image_tag(@advertisement2.picture, class: 'img-responsive center-block', alt: "anuncio", id:'borde') %>
      <% if !@advertiser.blank? %>
      <h4><strong>Advertisement sponsored by:</strong> <%= @advertiser %></h4>
      <%end%>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col-md-12 center">
      <% if !@redirection.blank? %>
      <%= link_to "Skip advertisement now", @redirection, id: "signup", class: "btn btn-lg btn-warning", :target => "_blank" %>
      <% end %>
    </div>
  </div>
  
  <script>
    var c=5;
    $(signup).hide();
    function timedCount(){
    	$("#seconds").html(c);
    	c=c-1;
    	if(c==-1){
    	  $(signup).show();
    	  return;
    	}
    	setTimeout("timedCount()",1000);
    }
  </script>
  
</div>