<% if current_user.try(:admin?) %>
    <% provide(:title, "| Update Short Info") %>
        <div class="page-header">
          <h1>Edit <small>Your URL</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Edit your URL path</h4></div>
            <div class="panel-body">
                <%= render 'edit_form', short: @short %>
            </div>
            <div class="panel-footer">
                <%= link_to 'Show', @short,  class: "btn btn-info" %> 
                <%= link_to 'Back', :back, class: "btn btn-default" %>
            </div>
        </div>
<% else %>
  <% controller.redirect_to root_path, notice: 'Need to be administrator for this.' %> 
<% end %>