<div class="page-header">
  <h1>New Short <small>Short your url here</small></h1>
</div>
<%= render 'form', short: @short %>
<div class="boton_inicio">
<%= link_to 'Back', shorts_path, class: "btn btn-default" %>
</div>