    <% provide(:title, "| Update Users Info") %>
        <div class="page-header">
          <h1>Edit <small>Your advertisement</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Edit users info</h4></div>
            <div class="panel-body">
                <%= render 'edit_form', user: @user %>
            </div>
            <div class="panel-footer">
                <%= link_to 'Back', :back, class: "btn btn-default" %>
            </div>
        </div>