<footer class="footer navbar-default">
  <nav>
  <div class="container-fluid">
          <div class="navbar-header">
          <a class="navbar-brand">URL Shortener on Ruby on Rails 5</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/GuillermoCubero/short-url/blob/master/README.md" target="_blank">About project</a></li>
              <li><a href="https://github.com/GuillermoCubero/short-url" target="_blank">See the code</a></li>
            </ul>
          </div>
        </div>
  </nav>
</footer>