<footer class="footer">
  <nav>
    <ul>
      <li> Acortador de URL's en Ruby on Rails 5.</li>
      <li><a href="https://github.com/GuillermoCubero/short-url/blob/master/README.md" target="_blank">About proyect</a></li>
      <li><a href="https://github.com/GuillermoCubero/short-url" target="_blank">See the code</a></li>
    </ul>
  </nav>
</footer>