<footer class="footer">
  <nav>
    <ul>
      <small> Acortador de URL's en Ruby on Rails 5.</small>
      <li><a href="https://github.com/GuillermoCubero/short-url">See the code</a></li>
    </ul>
  </nav>
</footer>